<ul>
  <% (Page.find :all, :conditions => { :enabled => true, :parent_id => nil }).each do |page| %>
  <li>
  	<%= link_to select_by_language_id(page.page_contents).title, make_page_path(page) if page.visible? && page.position.present? %>
  </li>
  <% end %>
</ul>
<div class="clear"></div>
