<section class="sidebar right">
  <% if has_role_with_hierarchy?(:member) %>
    <p class="actions">
      <%= link_to "new post", new_news_path, :class => "new" %>
    </p>
  <% end %>
  <% if any_category? %>
  <section class="categories">
    <h3>categories:</h3>
    <%= list_categories %>
  </section>
  <% end %>
  <% if any_tag? %>
  <section class="tags">
    <h3>tags:</h3>
    <%= tag_cloud %>
  </section>
  <% end %>
</section>
