<p class="actions">
  <%= link_to "back", show_news_path, :class => "back" %>
</p>
<%= form_for @edit_post, :url => news_path(@edit_post), :html => {:method => :put} do |f| %>
<%= render 'form', :f => f %>
<% end %>