<h1>credits</h1>
<p>
  this software has been created at awe11, agile webentwicklung at university of bremen.
</p>
<p>
  <strong>Icons:</strong>
  <a href="http://famfamfam.com/lab/icons/silk/">Silk Icon Set</a>
  (<a href="http://creativecommons.org/licenses/by/2.5/">CC-by 2.5</a>
  <a href="http://famfamfam.com">famfamfam.com</a>)
</p>
