<h1>Edit pages</h1>
<% page_tree = lambda do |page, depth| %>
<tr>
  <td>
    <%= "&nbsp;" * depth + page.int_title %>
  </td>
  <td>
  </td>
  <td class="actions">
  	<%= link_to "show", page_path(page) %>
    <%= link_to "edit", edit_page_path(page) %>
  </td>
</tr>
<% page.children.each { |page| page_tree.call page, depth + 1 }
end %>
<table>
  <thead>
    <tr>
      <th>
        title
      </th>
      <th>
        languages
      </th>
      <th>
        actions
      </th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each { |page| page_tree.call page, 0 } %>
  </tbody>
</table>
