<% if @pages.any? %>
  <table>
    <thead>
      <tr>
        <th>
          title
        </th>
        <th>
          visible
        </th>
        <th>
          languages
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @pages.each do |page| %>
        <%= render 'index', :page => page, :depth => 0 %>
      <% end %>
    </tbody>
  </table>
<% end %>
<p class="actions">
  <%= link_to "new page", new_page_path, :class => "new" %>
</p>
