fieldset {
	-moz-border-radius: 2px;
    border: 1px solid #aaa;
}

fieldset fieldset {
	margin: 10px;
}

fieldset table {
	margin: 10px;
}

fieldset h2 {
    margin-left: 10px;
}

fieldset .field, fieldset .actions {
    margin: 10px;
}

fieldset .field {
    padding: 10px;
}

fieldset .field label {
    display: block;
    float: left;
    width: 150px;
}

fieldset .field ul {
    margin-left: 150px;
}

fieldset .field ul ul {
    margin-left: 15px;
}

fieldset .field ul li {
    padding: 5px;
}

fieldset .field textarea.kramdown {
	font-family: monospace;
	width: 70%;
}

.flash {
    -moz-border-radius: 2px;
    border: 1px solid #aaa;
    padding: 20px;
    margin: 0 0 20px 0;
}

.flash.alert, .flash.error {
    background: #f99;
    border-color: #900;
}

.flash.success {
    background: #9f9;
    border-color: #090;
}

.flash.notice {
    background: #ff9;
    border-color: #990;
}
