.actions a, .actions input {
    background: top left no-repeat;
    padding: 1px 0 1px 18px;
}

.actions .continue {
    background-image: url('/images/icons/arrow_right.png');
}

.actions .new {
    background-image: url('/images/icons/add.png');
}

.actions .edit {
    background-image: url('/images/icons/page_edit.png');
}

.actions .delete {
    background-image: url('/images/icons/delete.png');
}

.actions .back {
    background-image: url('/images/icons/arrow_left.png');
}

.actions .enable {
    background-image: url('/images/icons/page_go.png');
}

.actions .disable {
    background-image: url('/images/icons/page_delete.png');
}

.actions .download {
    background-image: url('/images/icons/attach.png');
}

.actions .user {
    background-image: url('/images/icons/user_gray.png');
}

.actions .login {
    background-image: url('/images/icons/door.png');
}

.actions .logout {
    background-image: url('/images/icons/door_in.png');
}

.actions .credits {
    background-image: url('/images/icons/lightbulb.png');
}

.actions .vote {
    background-image: url('/images/icons/chart_bar.png');
}
