@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Ubuntu:regular,italic);
* {
    margin: 0;
    padding: 0;
}

body {
    background: #f0f0f0;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}

h2, h3, h4, h5 {
    margin: 20px 0 10px 0;
}

a {
    color: #049;
}

a:hover {
    color: #09f;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #aaa;
    padding: 5px;
}

th {
    background: #f0f0f0;
}

p {
    background: #f0f0f0;
    margin: 5px 0;
    padding: 5px;
}

footer ul, section ul {
	margin-left: 15px;
}

footer ul li, section ul li {
	margin: 2px 0;
}

pre {
    margin-top: 20px;
}

header, section, nav, footer {
    display: block;
}

header, #content {
    -moz-border-radius: 2px;
    background: #fff;
    border: 1px solid #aaa;
    color: #000;
    margin: 20px;
    padding: 20px;
}

header {
    margin-bottom: 0;
}

#content {
    margin-top: 0;
}

#menu {
    -moz-border-radius: 2px;
    background: #09f;
    border: 1px solid #049;
    margin: 5px 20px;
    padding: 5px;
}

#menu ul {
    list-style: none;
}

#menu li {
    float: left;
}

#menu a {
    color: #fff;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
}

#menu a:hover {
    text-decoration: underline;
}

footer {
    color: #aaa;
    margin: 0 20px;
	padding: 0 20px;
}

footer div {
    float: left;
    width: 30%;
}

footer div h2 {
    font-size: 12px;
	font-weight: bold;
	margin: 0;
    text-decoration: underline;
}

header a {
    padding: 5px;
}

header h1 {
    display: inline;
}

#header_menu {
    float: right;
}

#content h1 {
    margin-bottom: 20px;
}

.field {
    background: #f0f0f0;
    margin: 2px 0;
    padding: 5px;
}

.clear {
    clear: both;
}
